/* CSS Document */

/* CSS Reset */
body {
    margin: 0;
}
    
nav {
    margin: 0;
    padding: 10px 25px;
    background-color: #F4D35E;
}
    
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
    
nav li {
    display: inline;
}
    
nav a {
    padding: 10px 25px;
    font-size: 2em;
    text-decoration: none;
    color: #0D3B66;
}
    
nav a:hover {
    color: #FAF0CA;
    text-decoration: underline;
}
    
    
header {
    top: 0;
    background-color: #F4D35E;
    height: 800px;
}

header article {
    font-size: 7em;
    display: center;
}
]

blockquote {

}

article {
	padding: 2%; 
}

article h3 {
	text-align: center; 
}

article img {
	margin: 0 auto; 
}

article ul {
	margin-left: 10%; 
}

article:nth-of-type(2) {
	background-color: rgba(204, 204, 204, 0.3); 
}

#container {
	padding: 2% 0; 
	margin: 0 auto; 
	width: 80%; 
	min-height: 500px; 
	font-size: 1.8em; 
	color: #0D3B66;
}

#container img {
	float: left; 
	padding-right: 2%; 
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  footer {
	clear:both; 
	margin: 50px 0 0 0;
	padding: 0;
	width: 100%; 
	background-color: #F4D35E;
	text-align: center; 
	color:  #0D3B66;
	min-height: 300px; 
}

footer nav {
	clear:both;
	margin: 50 0 0 0; 
	padding: 0;
	background-color:  #F4D35E;
	min-height: 60px;
	font-size: 1em; 
}

footer nav ul {
	list-style: none; 
	width: 100%;
	padding: 10px 0 10px 25px; 
	margin: 0;
}

footer nav ul li {
	display: inline-block; 
	margin-right: 1em; 
	
}

footer nav a {
	color:  #0D3B66;
	text-decoration: none;
	padding-right: 50px; 
}

footer .emoji {
    font-size: 5.5em;
    padding: 10px 10px;
    vertical-align: middle;
}

footer nav a:hover {
	color: #FAF0CA;
	text-decoration: underline;
}



