/* CSS Document */

/* CSS Reset */
body {
    margin: 0;
}
    
nav {
    margin: 0;
    padding: 10px 25px;
    background-color: #0D3B66;
}
    
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
    
nav li {
    display: inline;
}
    
nav a {
    padding: 10px 25px;
    font-size: 2em;
    text-decoration: none;
    color: #FAF0CA;
}
    
nav a:hover {
    color: #F4D35E;
    text-decoration: underline;
}
    
    
header {
    top: 0;
    background-color: #0D3B66;
    height: 190px;
}

blockquote {

}
