/* CSS Document */

/* CSS Reset */
body {
    margin: 0;
}
    
nav {
    margin: 0;
    padding: 10px 25px;
    background-color: #F4D35E;
}
    
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
    
nav li {
    display: inline;
}
    
nav a {
    padding: 10px 25px;
    font-size: 2em;
    text-decoration: none;
    color: #0D3B66;
}
    
nav a:hover {
    color: #FAF0CA;
    text-decoration: underline;
}
    
    
header {
    top: 0;
    background-color: #F4D35E;
    height: 190px;
}

blockquote {

}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.fnav {
	padding: 5px 0;
	width: 100%;
	background-color: #F4D35E; 
	min-height: 50px; 
}

.fnav ul {
	display: block; 
	text-align: center;
}

.fnav ul li {
	display: inline-block;
	list-style: none;
	width: 10%; 
	background-color: #0D3B66;; 
	margin-top: .8%;
}

.fnav a {
	color: #F4D35E;
	text-decoration: none; 
	font-size: 1.5em; 
}

footer h4, footer h5, footer h6 {
	text-align: center; 
}
